@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;800&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Jost', sans-serif;
  

}

html.noscroll {
  overflow-y: hidden;
}

.icon {
  transition: 0.2s ease-in-out;
 
}

.flip {
  transform:rotate(-180deg);
  
}

.dropdown-list {
  position:relative;
}

.center {
  position: fixed;
  top:50%;
  left:50%;
  z-index:1000;
  transform: translate(-50%,-50%);
}